body 
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: left;
}


.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:14px 14px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:14px 14px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
.tg .tg-3bjo{font-size:14px;font-family:Arial, Helvetica, sans-serif !important;;border-color:#000000;text-align:left;vertical-align:top}
.tg .tg-z7ot{font-size:20px;font-family:Arial, Helvetica, sans-serif !important;;color:#34cdf9;border-color:#000000;text-align:left;vertical-align:top}
.tg .tg-8hy5{font-weight:bold;font-size:14px;font-family:Arial, Helvetica, sans-serif !important;;border-color:#000000;text-align:left;vertical-align:top}
.tg .tg-2w1e{font-size:20px;font-family:Arial, Helvetica, sans-serif !important;;background-color:#ffffff;color:#fe0000;border-color:#000000;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}